/* GENERIC */
* {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.nav-item {
	float: left;
	padding: 14px 16px;
}

.nav-item-right {
	float: right;
	padding: 10px 8px;
}

.nav-icon {
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
}

.nav-link {
	color: ffffff;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
}

.nav-search-box {
	border: 1px solid #cccccc;
	background-color: #ffffff;
	border-radius: 4px;
	line-height: 2em;
}

.nav-search-box:focus {
	outline: none !important;
	border: 1px solid #17a2b8;
	box-shadow: 0 0 10px
}

.nav-search-button {
	background-color: #333;
	border: 1px solid #ffc107;
	border-radius: 4px;
	color: #ffc107;
	padding: 6px 8px;
	text-align: center;
	text-decoration: none;
}
.nav-search-box::-webkit-search-cancel-button{
	position:relative;
	right:20px;    
}

.alert {
	padding: 15px;
	background-color: #6c757d;
	color: #ffc107;
	margin: 4px 0px 8px;
	border-radius: 4px;
}

.alert a {
	color: #ffc107;
	text-decoration: none;
}

/* GRID */
.grid-container-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5em;
    padding: 5em;
}

.grid-container-4 {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 2em;
	padding: 2em;
}

/* LOGIN */
.login-header {
    grid-column-start: 2;
    text-align: center;
}

.login-form {
    font-size: 1.3rem;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    font-weight: bold;
}

.login-form .textbox {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 0.4rem;
    padding: 0.8rem 1.6rem;
}

.login-form input[type=submit] {
    background-color: #007bff;
    color: white;
    width: 5em;
    height: 3em;
    border: none;
    border-radius: 0.4rem;
}

/* HOME */
.movie-poster {
	height: 40em;
	width: 25em;
}

.movie-poster img {
	height: 40em;
	width: 25em;
}

/* MOVIE DETAILS */

.flex-container {
	display: flex;
}

.fixed {
	width: 300px;
}

.flex-item {
	padding-left: 5px;
	flex-grow: 1;
}

.flex-item>div {
	margin: 0px;
	padding: -5px;
}

.movie-title {
	font-size: 28px;
	font-weight: bold;
	padding-bottom: 10px;
}

.movie-date {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
}

.movie-info {
	font-size: 14px;
	font-weight: 600;
	padding-bottom: 14px;
}

.comment {
	margin: 20px;
}

.comment-input {
	border: 1px solid #cccccc;
	border-radius: 4px;
	line-height: 2em;
}

.comment-input:focus {
	outline: none !important;
	border: 1px solid #17a2b8;
	box-shadow: 0 0 2px #17a2b8
}

.comment-button {
	margin-top: 50px;
	background-color: #007bff;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 6px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;

}
